body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-container {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 80px;
  gap: 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-text {
  font-size: 24px;
  color: #F9FAF8;
}

a, .hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.footer-container {
  background-color: #1F2937;
  text-align: center;
  padding: 32px 0;
}

.footer-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-main-container {
  display: flex;
  justify-content: space-between;
}

.hero-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-button button, .call-to-action-content {
  background-color: #3882F6;
}

.hero-button button {
  font-size: 24px;
  color: #F9FAF8;
  padding: 4px 24px;
  border-radius: 8px;
}

.random-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 32px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 80px;
}

.information-header-text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.item {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.item img {
  border-radius: 8px;
}

.item-text {
  font-size: 18px;
  color: #1F2937;
}

.quote-container {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 80px 120px;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 300;
}

.quote-author {
  color: #1F2937;
  font-size: 24px;
  font-weight: 700;
  padding-right: 32px;
  align-self: flex-end;
}

.call-to-action-content {
  margin: 80px 120px;
  padding: 24px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.call-to-action-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.call-to-action-header {
  font-size: 24px;
  color: #F9FAF8;
}

.call-to-action-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.call-to-action-button button {
  font-size: 24px;
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 4px 24px;
  border-radius: 8px;
  border-color: #F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}